n8n-client-list-workflow.json
{
  "name": "Client Intake - List Clients",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "client-list",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "webhook-list",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "client-list"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1fiCJMWhZGOXIqNmxswt92qQxAQ70bjz6FKxpVQMNO2g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Submissions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read All Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [480, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MmkEFg1TuHDH32HZ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract just the fields needed for the dropdown\nconst clients = $input.all().map(item => ({\n  clientId: item.json.clientId,\n  businessName: item.json.businessName,\n  industry: item.json.industry,\n  primaryContactName: item.json.primaryContactName,\n  timestamp: item.json.timestamp\n}));\n\n// Sort by most recent first\nclients.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nreturn { json: { clients } };"
      },
      "id": "format-list",
      "name": "Format Client List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-list",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read All Clients", "type": "main", "index": 0 }]]
    },
    "Read All Clients": {
      "main": [[{ "node": "Format Client List", "type": "main", "index": 0 }]]
    },
    "Format Client List": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
